.homecomponent{
    margin-top: 50px;
}

.bloc-produi{
    padding: 30px 0;
    
}

.section-produit-business .bloc-produit, .section-ressurance-business .bloc-produit {
    padding: 30px 0;
    border-bottom: 1px solid #f5f5F5;
}
 h2, h4 {
    color: #E35226;
}

.row .bloc-produit p {
    text-align: justify;
}


 h2 {
    text-align: center;
    margin: 30px 0 30px 0;
}



@media screen and (max-width: 399px) {
    .h4, h4, h5 {
        font-size: x-large;
      }

      .mobile-home{
        padding: 30px;
      }
  }